---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}

      {% if forloop.first %}
        <li class="column first">
      {% elsif forloop.last %}
        <li class="column last">
      {% else %}
        <li class="column">
      {% endif %}

        <!-- Mata info from post -->
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <!-- Link to post -->
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <!-- Excerpt of post -->
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
